.grid-container {
    margin-top: 100px; /* Para evitar solapamiento con la barra de navegación fija */
    display: grid;

    /* MODIFICACIÓN CLAVE: Define 4 columnas iguales */
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
    padding: 20px;
    max-width: 2000px; /* Asegura que el contenedor tenga espacio */

}