
.artist-card {
    !important;
    width: 280px;
    border-radius: 8px;
    overflow: hidden; // Para que las esquinas redondeadas funcionen con la imagen
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    text-align: right;
}


.artist-card .bg-img {
    /* 1. Define el tamaño del área que ocupará la imagen */
    width: 100%;
    /* Por ejemplo, 200px de alto. Ajusta este valor según el diseño */
    height: 200px;

    /* 2. Asegura que la imagen de fondo cubra el área sin dejar espacios */
    background-size: cover;

    /* 3. Asegura que la imagen no se repita si el contenedor es grande */
    background-repeat: no-repeat;

    /* 4. Centra la imagen dentro del contenedor (muestra el centro de la foto) */
    background-position: center;

    /* Opcional: Para esquinas redondeadas en la parte superior */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.artist-card:hover {
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 4px 8px 16px rgba(0, 137, 255, 1);
}

.artist-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.artist-name {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.75rem;
}



.see-more-button {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 0 8px 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.see-more-button:hover {
    background-color: #0056b3;
}